##############################
## Folders                  ##
##############################
target
out

##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
.idea/workspace.xml
